/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/* Ramka */

.ramka.pasek-gora {
	background: #e3e3e3;
	height: 8px;
}

.ramka.separator {
	margin-top: 25px;
}
.ramka.powitanie {
	margin-top: 25px;
	text-align: center;
}
.ramka.baner {
	margin-top: 10px;
	margin-bottom: 20px;
}
.ramka.polecane {
	margin-top: 10px;
}
.ramka.nowe-produkty {
	margin-bottom: 20px;
}
/* gora */
.logo {
	margin-top:25px;
}
.separator-linia {
	height: 2px;
	background: #e3e3e3;
}
.glowny-separator-linia {
	height: 1px;
	background: #e3e3e3;
}
.ramka.powitanie p {
	font-size: 28px;
	line-height: 28px;
	color: #565656;
}.ramka.powitanie p:first-child {
	font-size: 35px;
	line-height: 37px;
	color: #565656;
	font-weight: bold;
}
.social {
	margin-top: 25px;
	position: relative;
	text-align: right;
}
.social a img {
	margin-left: -2px;
}
.zalety-obraz {
	padding: 2px;
	max-width: 100%;
	float:left;
	height: auto;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-top: 3px;
}
/* stopka */

.ramka.stopka {
	background: #323232;
	margin-top: 70px;
	padding-top: 30px;
	padding-bottom: 10px;
}

.ramka.stopka h4 {
	color: #e3e3e3;
	font-weight: normal;
}
.ramka.stopka p {
	color: #888;
	font-size: 12px;
	padding-right: 20px;
	margin: 5px 0;
}
.copyright-text {
	padding-top: 10px;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.polecane {
			text-align: center;
		}
		.nowe-produkty {
			text-align: center;
		}
		.logo {
			text-align: center;
		}
		.social {
			text-align: center;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/